@model IPagedList< IUEMS.Models.Exam.AssignExamminerModel>

@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "IURPS::Assign Examineer";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}
<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@{
    string Create = Url.Action("Create", null, null, Request.Url.Scheme);
    string Details = Url.Action("Details", null, null, Request.Url.Scheme);
    string Edit = Url.Action("Edit", null, null, Request.Url.Scheme);
    string Delete = Url.Action("Delete", null, null, Request.Url.Scheme);
}

<div class='row'>
    <div class='col-md-10 text-left'>
        <h3 class='text-info'>Assign Examiner</h3>
    </div>
    <div class='col-md-2 text-right'>
        <button class='btn btn-success btn-madd' onclick='btnAddClick($(this))' myUrl='@Create'><i class='fa fa-plus-circle'></i> Add</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Faculty</th>
                    <th scope="col">Department</th>
                    <th scope="col">Program</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Exam Year</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("FACULTY_ID", (IEnumerable<SelectListItem>)ViewData["faculty_list"], "Select Faculty", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("DEPARTMENT_ID", (IEnumerable<SelectListItem>)ViewData["dept_list"], "Select Department", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("PROGRAM_ID", (IEnumerable<SelectListItem>)ViewData["program_list"], "Select Program", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("SEMESTER_ID", (IEnumerable<SelectListItem>)ViewData["semester_list"], "Select Semester", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("YEAR", (IEnumerable<SelectListItem>)ViewData["exam_year"], "Select Type", new { @class = "form-control" })
                    </td>
                    <td>
                        <button class='btn btn-success btn-madd SearchExaminer'><i class='fa fa-search'></i> Search</button>
                    </td>
                </tr>
            </thead>

        </table>
    </div>
</div>

@if (@Model != null)
{
    @(Html
                                        .Grid(Model)
                                        .Build(columns =>
                                        {
                                            columns.Add(model => model.COURSE_CODE).Titled("Course Code");
                                            columns.Add(model => model.MAIN_TEACHER).Titled("First Examiner");
                                            columns.Add(model => model.SUB_TEACHER).Titled("Second Examiner");
                                            columns.Add(model => model.SUB_TEACHER_2).Titled("Third Examiner");
                            //columns.Add(model => model.SUB_TEACHER_3).Titled("SUB_TEACHER_3");
                            //      columns.Add(model => $@"<button class='btn btn-primary btn-mdetails' value='{model.ID}' onclick='btnDetailsClick($(this));' myUrl='{Details}'><i class='fa fa-info'></i> Details</button>
                            //<button class='btn btn-warning btn-medit'    value='{model.ID}' onclick='btnEditClick($(this))' myUrl='{Edit}'><i class='fa fa-pencil'></i> Edit</button>
                            //<button class='btn btn-danger  btn-mdelete'  value='{model.ID}' onclick='btnDeleteClick($(this))' myUrl='{Delete}'><i class='fa fa-times-circle'></i></button>").Encoded(false).Css("management-col").Titled("MANAGEMENT");

                        })
                                       // .WithFilterMode(GridFilterMode.FilterRow)
                                        .Empty("No data found")
                    //.MultiFilterable()
                    //.Filterable()
                    //.Sortable()
    )
    @Html.PagedListPager(Model, page => Url.Action("Index", "AssignExaminer", new { i = page, search = Request.QueryString["search"] }), new PagedListRenderOptions { LinkToFirstPageFormat = "First", LinkToPreviousPageFormat = "Previous", LinkToNextPageFormat = "Next", LinkToLastPageFormat = "Last" })
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/_global.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/_global.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var getUrl = window.location;

            //Get Programe
            $(document).on("change", "#DEPARTMENT_ID", function () {

                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/get_programme";
                var FACULTY_ID = $("#FACULTY_ID").val();
                var DEPARTMENT_ID = $("#DEPARTMENT_ID").val();
                var PROGRAM_ID = $("#PROGRAM_ID").val();
                var SEMESTER_ID = $("#SEMESTER_ID").val();
                var YEAR = $("#YEAR").val();
                var fls = { FACULTY_ID: FACULTY_ID, DEPARTMENT_ID: DEPARTMENT_ID, PROGRAM_ID: PROGRAM_ID, SEMESTER_ID: SEMESTER_ID, YEAR: YEAR }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: fls,
                    beforeSend: function () {
                        // $("#loader_view").show();
                    },
                    success: function (data) {
                        $("#PROGRAM_ID").html('<option>--Select--</option>');
                        $.each(data, function (key, val) {
                            var ID = val.ID;

                            var tr = "<option value='" + val.ID + "'>" + val.PROGRAM_NAME + "</option>";
                            $("#PROGRAM_ID").append(tr);
                        });
                    }
                    //data: JSON.stringify(person)
                });
            });

            //Get Departments
            $(document).on("change", "#FACULTY_ID", function () {

                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/get_dept";
                var FACULTY_ID = $("#FACULTY_ID").val();
                var DEPARTMENT_ID = $("#DEPARTMENT_ID").val();
                var PROGRAM_ID = $("#PROGRAM_ID").val();
                var SEMESTER_ID = $("#SEMESTER_ID").val();
                var YEAR = $("#YEAR").val();
                var fls = { FACULTY_ID: FACULTY_ID, DEPARTMENT_ID: DEPARTMENT_ID, PROGRAM_ID: PROGRAM_ID, SEMESTER_ID: SEMESTER_ID, YEAR: YEAR }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: fls,
                    beforeSend: function () {
                        // $("#loader_view").show();
                    },
                    success: function (data) {
                        $("#DEPARTMENT_ID").html('<option>--Select--</option>');
                        $.each(data, function (key, val) {
                            var ID = val.ID;

                            var tr = "<option value='" + val.ID + "'>" + val.DEPARTMENT_NAME + "</option>";
                            $("#DEPARTMENT_ID").append(tr);
                        });
                    }
                    //data: JSON.stringify(person)
                });
            });

            //Get Courses
            $(document).on("click", ".SearchCourses", function () {

                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/get_courses";

                //var fls = $("#frm_total_case_list").serialize();
                debugger;
                var FACULTY_ID = $("#FACULTY_ID1").val();
                var DEPARTMENT_ID = $("#DEPARTMENT_ID1").val();
                var PROGRAM_ID = $("#PROGRAM_ID1").val();
                var SEMESTER_ID = $("#SEMESTER_ID1").val();
                var YEAR = $("#YEAR1").val();

                var fls = { FACULTY_ID: FACULTY_ID, DEPARTMENT_ID: DEPARTMENT_ID, PROGRAM_ID: PROGRAM_ID, SEMESTER_ID: SEMESTER_ID, YEAR: YEAR }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: fls,
                    beforeSend: function () {
                        // $("#loader_view").show();
                    },
                    success: function (data) {
                        $("#tbody").html('');
                        $.each(data, function (key, val) {
                            var ID = val.ID;

                            var tr = "<tr>" +
                                "<td><input type='hidden' name='ID[]' value='" + ID + "' /><input type='hidden' id='COURSE_CODE_'" + key + "' name='COURSE_CODE[]' value='" + val.COURSE_CODE + "' />" + val.COURSE_CODE + "</td>" +
                                "<td><input class='form-control text-box single-line Examiner' id='MAIN_TEACHER_'" + key + "' name='MAIN_TEACHER[]' type='text' value='" + val.MAIN_TEACHER + "'>" +
                                "<td><input class='form-control text-box single-line Examiner' id='SUB_TEACHER_'" + key + "' name='SUB_TEACHER[]' type='text' value='" + val.SUB_TEACHER + "'>" +
                                "<td><input class='form-control text-box single-line Examiner' id='SUB_TEACHER_2_'" + key + "' name='SUB_TEACHER_2[]' type='text' value='" + val.SUB_TEACHER_2 + "'>" +
                                //"<td><input class='form-control text-box single-line Examiner' id='SUB_TEACHER_3_'" + key + "' name='SUB_TEACHER_3[]' type='text' value='" + val.SUB_TEACHER_3 + "'>" +
                                "</tr>";
                            $("#tbody").append(tr);
                        });
                    }
                    //data: JSON.stringify(person)
                });
            });



            //Auto Complete
            $(document).on("keyup", ".Examiner", function () {
                $(".Examiner").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/AssignExaminer/GetTeachers",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                debugger;
                                response($.map(data, function (item) {
                                    return { label: item.EMPLOYEE_ID + "-" + item.EMPLOYEE_NAME, value: item.EMPLOYEE_ID };
                                }))

                            }
                        })
                    },
                    messages: {
                        noResults: "", results: ""
                    }
                });
            });


        });
    </script>
}

