@model IUMS.Entities.MASTER_APPLICANT_SESSION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MASTER_APPLICANT_SESSION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APPLICANT_SESSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPLICANT_SESSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SESSION_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SESSION_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SESSION_DURATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SESSION_DURATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_ACTIVE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
