@model IUMS.Entities.ACADEMIC_STUDENT_PERSONAL
@{
	Layout = null;
}

<div class="modal" id="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-10">
					<h3>Details - 
<span class="text-info pull-right">(PK) @Model.ID</span>
					</h3>
				</div>
				<div class="col-md-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">DisplayNameFor</th>
							<th scope="col">DisplayFor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ID)</td>
							<td>@Html.DisplayFor(model => model.ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STUDENT_ID)</td>
							<td>@Html.DisplayFor(model => model.STUDENT_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FULL_NAME)</td>
							<td>@Html.DisplayFor(model => model.FULL_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GENDER)</td>
							<td>@Html.DisplayFor(model => model.GENDER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DATE_OF_BIRTH)</td>
							<td>@Html.DisplayFor(model => model.DATE_OF_BIRTH)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PLACE_OF_BIRTH)</td>
							<td>@Html.DisplayFor(model => model.PLACE_OF_BIRTH)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MARITAL_STATUS)</td>
							<td>@Html.DisplayFor(model => model.MARITAL_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NATIONALITY)</td>
							<td>@Html.DisplayFor(model => model.NATIONALITY)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.RELIGION)</td>
							<td>@Html.DisplayFor(model => model.RELIGION)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MAILING_ADDRESS)</td>
							<td>@Html.DisplayFor(model => model.MAILING_ADDRESS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MOBILE_NO)</td>
							<td>@Html.DisplayFor(model => model.MOBILE_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HOME_PHONE)</td>
							<td>@Html.DisplayFor(model => model.HOME_PHONE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EMAIL)</td>
							<td>@Html.DisplayFor(model => model.EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PERMANENT_ADDRESS)</td>
							<td>@Html.DisplayFor(model => model.PERMANENT_ADDRESS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NATIONAL_ID)</td>
							<td>@Html.DisplayFor(model => model.NATIONAL_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BLOOD_GROUP)</td>
							<td>@Html.DisplayFor(model => model.BLOOD_GROUP)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.COUNTRY)</td>
							<td>@Html.DisplayFor(model => model.COUNTRY)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISTRICT)</td>
							<td>@Html.DisplayFor(model => model.DISTRICT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FATHER_NAME)</td>
							<td>@Html.DisplayFor(model => model.FATHER_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FATHER_OCCUPATION)</td>
							<td>@Html.DisplayFor(model => model.FATHER_OCCUPATION)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FATHER_PHONE)</td>
							<td>@Html.DisplayFor(model => model.FATHER_PHONE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FREEDOM_FIGHTER)</td>
							<td>@Html.DisplayFor(model => model.FREEDOM_FIGHTER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MOTHER_NAME)</td>
							<td>@Html.DisplayFor(model => model.MOTHER_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MOTHER_OCCUPATION)</td>
							<td>@Html.DisplayFor(model => model.MOTHER_OCCUPATION)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MOTHER_PHONE)</td>
							<td>@Html.DisplayFor(model => model.MOTHER_PHONE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PHOTO)</td>
							<td>@Html.DisplayFor(model => model.PHOTO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SIGNATURE)</td>
							<td>@Html.DisplayFor(model => model.SIGNATURE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_ADMITTED_BRAC)</td>
							<td>@Html.DisplayFor(model => model.IS_ADMITTED_BRAC)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_DISMISSED_ANY_INSTITUTE)</td>
							<td>@Html.DisplayFor(model => model.IS_DISMISSED_ANY_INSTITUTE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ACADEMIC_HONORS_1)</td>
							<td>@Html.DisplayFor(model => model.ACADEMIC_HONORS_1)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ACADEMIC_HONORS_2)</td>
							<td>@Html.DisplayFor(model => model.ACADEMIC_HONORS_2)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ACADEMIC_HONORS_3)</td>
							<td>@Html.DisplayFor(model => model.ACADEMIC_HONORS_3)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_ADMITTED_ANY_INST)</td>
							<td>@Html.DisplayFor(model => model.IS_ADMITTED_ANY_INST)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CO_CURRICULAR_ACTIVITIES)</td>
							<td>@Html.DisplayFor(model => model.CO_CURRICULAR_ACTIVITIES)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PASSPORT_NO)</td>
							<td>@Html.DisplayFor(model => model.PASSPORT_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.USERNAME)</td>
							<td>@Html.DisplayFor(model => model.USERNAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.RELIGION_OTHER)</td>
							<td>@Html.DisplayFor(model => model.RELIGION_OTHER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_ADMITTED_TEXT)</td>
							<td>@Html.DisplayFor(model => model.IS_ADMITTED_TEXT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_DISMISSFROM_TEXT)</td>
							<td>@Html.DisplayFor(model => model.IS_DISMISSFROM_TEXT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_ANYOTHER_TEXT)</td>
							<td>@Html.DisplayFor(model => model.IS_ANYOTHER_TEXT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_COCURRICULAM_TEXT)</td>
							<td>@Html.DisplayFor(model => model.IS_COCURRICULAM_TEXT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.IS_DEATH_TEXT)</td>
							<td>@Html.DisplayFor(model => model.IS_DEATH_TEXT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROGRAM_ID)</td>
							<td>@Html.DisplayFor(model => model.PROGRAM_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BATCH_ID)</td>
							<td>@Html.DisplayFor(model => model.BATCH_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LEVEL_ID)</td>
							<td>@Html.DisplayFor(model => model.LEVEL_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SEMESTER_ID)</td>
							<td>@Html.DisplayFor(model => model.SEMESTER_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SESSION_ID)</td>
							<td>@Html.DisplayFor(model => model.SESSION_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.YEAR)</td>
							<td>@Html.DisplayFor(model => model.YEAR)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ROLL)</td>
							<td>@Html.DisplayFor(model => model.ROLL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.VISITOR_ID)</td>
							<td>@Html.DisplayFor(model => model.VISITOR_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SECTION_ID)</td>
							<td>@Html.DisplayFor(model => model.SECTION_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CATEGORY_ID)</td>
							<td>@Html.DisplayFor(model => model.CATEGORY_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SCHEDULE_ID)</td>
							<td>@Html.DisplayFor(model => model.SCHEDULE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.THANA)</td>
							<td>@Html.DisplayFor(model => model.THANA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.APPROVAL_STATUS)</td>
							<td>@Html.DisplayFor(model => model.APPROVAL_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ADMISSION_BY)</td>
							<td>@Html.DisplayFor(model => model.ADMISSION_BY)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REMARK)</td>
							<td>@Html.DisplayFor(model => model.REMARK)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SSC_ROLL)</td>
							<td>@Html.DisplayFor(model => model.SSC_ROLL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HSC_ROLL)</td>
							<td>@Html.DisplayFor(model => model.HSC_ROLL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PACKAGE_ID)</td>
							<td>@Html.DisplayFor(model => model.PACKAGE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ADMISSION_DATE)</td>
							<td>@Html.DisplayFor(model => model.ADMISSION_DATE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PAYMENT_STATUS)</td>
							<td>@Html.DisplayFor(model => model.PAYMENT_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISCOUNT_TYPE)</td>
							<td>@Html.DisplayFor(model => model.DISCOUNT_TYPE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISCOUNT_AMOUNT)</td>
							<td>@Html.DisplayFor(model => model.DISCOUNT_AMOUNT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.RAPID_STATUS)</td>
							<td>@Html.DisplayFor(model => model.RAPID_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.USER_ID)</td>
							<td>@Html.DisplayFor(model => model.USER_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.VERIFIED_STATUS)</td>
							<td>@Html.DisplayFor(model => model.VERIFIED_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ADMISSION_FEE)</td>
							<td>@Html.DisplayFor(model => model.ADMISSION_FEE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PAY_AMOUNT)</td>
							<td>@Html.DisplayFor(model => model.PAY_AMOUNT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ADVANCE)</td>
							<td>@Html.DisplayFor(model => model.ADVANCE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DUE)</td>
							<td>@Html.DisplayFor(model => model.DUE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.TRANSACTION_TYPE)</td>
							<td>@Html.DisplayFor(model => model.TRANSACTION_TYPE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.RECEIVE_TO)</td>
							<td>@Html.DisplayFor(model => model.RECEIVE_TO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.RECEIVE_TO_1)</td>
							<td>@Html.DisplayFor(model => model.RECEIVE_TO_1)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CHEQUE_NO)</td>
							<td>@Html.DisplayFor(model => model.CHEQUE_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CHEQUE_DATE)</td>
							<td>@Html.DisplayFor(model => model.CHEQUE_DATE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SCHOLARSHIP_AREA_ID)</td>
							<td>@Html.DisplayFor(model => model.SCHOLARSHIP_AREA_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STUDENT_INVOICE_CODE)</td>
							<td>@Html.DisplayFor(model => model.STUDENT_INVOICE_CODE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BOARD)</td>
							<td>@Html.DisplayFor(model => model.BOARD)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BOARD_1)</td>
							<td>@Html.DisplayFor(model => model.BOARD_1)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROGRAM_TYPE)</td>
							<td>@Html.DisplayFor(model => model.PROGRAM_TYPE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MERITORIOUS)</td>
							<td>@Html.DisplayFor(model => model.MERITORIOUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SPORTS_CULTURAL)</td>
							<td>@Html.DisplayFor(model => model.SPORTS_CULTURAL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISABLE)</td>
							<td>@Html.DisplayFor(model => model.DISABLE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.TRIBAL)</td>
							<td>@Html.DisplayFor(model => model.TRIBAL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SIBLING)</td>
							<td>@Html.DisplayFor(model => model.SIBLING)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISMISSED_NOTE)</td>
							<td>@Html.DisplayFor(model => model.DISMISSED_NOTE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DISMISSED)</td>
							<td>@Html.DisplayFor(model => model.DISMISSED)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LOCAL_GUARDIAN_EMAIL)</td>
							<td>@Html.DisplayFor(model => model.LOCAL_GUARDIAN_EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LOCAL_GUARDIAN_CONTACT_NO)</td>
							<td>@Html.DisplayFor(model => model.LOCAL_GUARDIAN_CONTACT_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LOCAL_GUARDIAN_ADDRESS)</td>
							<td>@Html.DisplayFor(model => model.LOCAL_GUARDIAN_ADDRESS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LOCAL_GUARDIAN_NAME)</td>
							<td>@Html.DisplayFor(model => model.LOCAL_GUARDIAN_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REFERENCE_EMAIL)</td>
							<td>@Html.DisplayFor(model => model.REFERENCE_EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REFERENCE_CONTACT_NO)</td>
							<td>@Html.DisplayFor(model => model.REFERENCE_CONTACT_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REFERENCE_ADDRESS)</td>
							<td>@Html.DisplayFor(model => model.REFERENCE_ADDRESS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REFERENCE_NAME)</td>
							<td>@Html.DisplayFor(model => model.REFERENCE_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.YEARLY_INCOME)</td>
							<td>@Html.DisplayFor(model => model.YEARLY_INCOME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_RELATIONSHIP)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_RELATIONSHIP)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_EMAIL)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_PHONE)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_PHONE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_ADDRESS)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_ADDRESS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_PROFESSION)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_PROFESSION)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUARDIAN_NAME)</td>
							<td>@Html.DisplayFor(model => model.GUARDIAN_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EXPERIENCE)</td>
							<td>@Html.DisplayFor(model => model.EXPERIENCE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BIRTH_CERTIFICATION)</td>
							<td>@Html.DisplayFor(model => model.BIRTH_CERTIFICATION)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PERMANENT_EMAIL)</td>
							<td>@Html.DisplayFor(model => model.PERMANENT_EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PERMANENT_CONTACT_NO)</td>
							<td>@Html.DisplayFor(model => model.PERMANENT_CONTACT_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PRESENT_EMAIL)</td>
							<td>@Html.DisplayFor(model => model.PRESENT_EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PRESENT_CONTACT_NO)</td>
							<td>@Html.DisplayFor(model => model.PRESENT_CONTACT_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.TOTAL_CREDIT)</td>
							<td>@Html.DisplayFor(model => model.TOTAL_CREDIT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROGRAM_TYPE_ID)</td>
							<td>@Html.DisplayFor(model => model.PROGRAM_TYPE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PAYMENT_TYPE)</td>
							<td>@Html.DisplayFor(model => model.PAYMENT_TYPE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PAYMENT_DATE)</td>
							<td>@Html.DisplayFor(model => model.PAYMENT_DATE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PAYMENT_COLLECT_BY)</td>
							<td>@Html.DisplayFor(model => model.PAYMENT_COLLECT_BY)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.OTHER)</td>
							<td>@Html.DisplayFor(model => model.OTHER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NO_OF_SEMESTER)</td>
							<td>@Html.DisplayFor(model => model.NO_OF_SEMESTER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.QUOTA)</td>
							<td>@Html.DisplayFor(model => model.QUOTA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ATTACH_FILE)</td>
							<td>@Html.DisplayFor(model => model.ATTACH_FILE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STATUS)</td>
							<td>@Html.DisplayFor(model => model.STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FACULTY_ID)</td>
							<td>@Html.DisplayFor(model => model.FACULTY_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEPARTMENT_ID)</td>
							<td>@Html.DisplayFor(model => model.DEPARTMENT_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.OFFICIAL_DISCOUNT)</td>
							<td>@Html.DisplayFor(model => model.OFFICIAL_DISCOUNT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HALL_ID)</td>
							<td>@Html.DisplayFor(model => model.HALL_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REG_NO)</td>
							<td>@Html.DisplayFor(model => model.REG_NO)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
