@model IUMS.Entities.TRANSCRIPT_ELIGIBLE_STD
@{
	Layout = null;
}

<div class="modal" id="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-10">
					<h3>Details - 
<span class="text-info pull-right">(PK) @Model.ID</span>
					</h3>
				</div>
				<div class="col-md-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">DisplayNameFor</th>
							<th scope="col">DisplayFor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ID)</td>
							<td>@Html.DisplayFor(model => model.ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STUDENT_ID)</td>
							<td>@Html.DisplayFor(model => model.STUDENT_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STUDENT_NAME)</td>
							<td>@Html.DisplayFor(model => model.STUDENT_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.STD_CGPA)</td>
							<td>@Html.DisplayFor(model => model.STD_CGPA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LETTER_GRADE)</td>
							<td>@Html.DisplayFor(model => model.LETTER_GRADE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REF_NUMBER)</td>
							<td>@Html.DisplayFor(model => model.REF_NUMBER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SERIAL_NO)</td>
							<td>@Html.DisplayFor(model => model.SERIAL_NO)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROGRAM_ID)</td>
							<td>@Html.DisplayFor(model => model.PROGRAM_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SEMESTER_ID)</td>
							<td>@Html.DisplayFor(model => model.SEMESTER_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.YEAR)</td>
							<td>@Html.DisplayFor(model => model.YEAR)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEGREE_TYPE_ID)</td>
							<td>@Html.DisplayFor(model => model.DEGREE_TYPE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SCHEDULE_ID)</td>
							<td>@Html.DisplayFor(model => model.SCHEDULE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MEJOR_ID)</td>
							<td>@Html.DisplayFor(model => model.MEJOR_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.COMPLETED_CREDIT)</td>
							<td>@Html.DisplayFor(model => model.COMPLETED_CREDIT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PACKAGE_CREDIT)</td>
							<td>@Html.DisplayFor(model => model.PACKAGE_CREDIT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.REF_SERIAL)</td>
							<td>@Html.DisplayFor(model => model.REF_SERIAL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SESSION_ID)</td>
							<td>@Html.DisplayFor(model => model.SESSION_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LEVEL_ID)</td>
							<td>@Html.DisplayFor(model => model.LEVEL_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BATCH_ID)</td>
							<td>@Html.DisplayFor(model => model.BATCH_ID)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
