@model IUMS.Entities.MASTER_PROGRAM_TYPE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MASTER_PROGRAM_TYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROGRAM_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAM_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
