@model IUMS.Entities.USER
@{
	Layout = null;
}

<div class="modal" id="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			@{string ajaxPostUrl = Url.Action("Create", null, null, Request.Url.Scheme);}
			@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", ajaxPostUrl = ajaxPostUrl }))
			{
				@Html.AntiForgeryToken()				
				<div class="modal-header">
					<div class="col-md-10">
						<h3>Create</h3>
					</div>
					<div class="col-md-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
                
				<div class="modal-body">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<table class="table table-striped table-hover table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">DisplayNameFor</th>
								<th scope="col">DisplayFor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									@Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.ROLE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ROLE_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ROLE_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.FULL_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.FULL_NAME, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.FULL_NAME, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.SESSION_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.SESSION_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.SESSION_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.EMAIL_ALERT, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.EMAIL_ALERT, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.EMAIL_ALERT, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.BANNED, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.BANNED, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.BANNED, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.BAN_REASON, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.BAN_REASON, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.BAN_REASON, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.NEWPASS, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.NEWPASS, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.NEWPASS, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.NEWPASS_KEY, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.NEWPASS_KEY, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.NEWPASS_KEY, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.NEWPASS_TIME, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.NEWPASS_TIME, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.NEWPASS_TIME, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.LOGIN_STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.LOGIN_STATUS, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.LOGIN_STATUS, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.LAST_IP, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.LAST_IP, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.LAST_IP, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.LAST_LOGIN, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.LAST_LOGIN, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.LAST_LOGIN, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.CREATED, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.CREATED, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.CREATED, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.MODIFIED_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.MODIFIED_DATE, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.MODIFIED_DATE, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.USER_MODULE, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.USER_MODULE, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.USER_MODULE, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.ADMISSION_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ADMISSION_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ADMISSION_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.ACADEMIC_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ACADEMIC_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ACADEMIC_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.EXAM_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.EXAM_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.EXAM_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.GUEST_HOUSE_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.GUEST_HOUSE_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.GUEST_HOUSE_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.DEGREE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.DEGREE_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.DEGREE_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.HR_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.HR_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.HR_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.ETENDER_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ETENDER_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ETENDER_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.INVENTORY_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.INVENTORY_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.INVENTORY_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.HOUSE_ALLOTMENT_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.HOUSE_ALLOTMENT_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.HOUSE_ALLOTMENT_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.JOURNAL_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.JOURNAL_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.JOURNAL_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.EVENT_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.EVENT_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.EVENT_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.PROFILE_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.PROFILE_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.PROFILE_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.HALL_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.HALL_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.HALL_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.FILE_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.FILE_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.FILE_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.MOBILE, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.MOBILE, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.ACCOUNTS_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.ACCOUNTS_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ACCOUNTS_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.JOB_PREV, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.JOB_PREV, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.JOB_PREV, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.DEGREE_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.DEGREE_TYPE, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.DEGREE_TYPE, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.DEGREE_TITLE, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.DEGREE_TITLE, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.DEGREE_TITLE, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.SSC_GPA, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.SSC_GPA, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.SSC_GPA, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.HSC_GPA, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.HSC_GPA, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.HSC_GPA, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.FREEDOM_FIGHTER, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.FREEDOM_FIGHTER, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.FREEDOM_FIGHTER, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.SUBJECT_O_LEVEL, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.SUBJECT_O_LEVEL, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.SUBJECT_O_LEVEL, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.SUBJECT_A_LEVEL, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.SUBJECT_A_LEVEL, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.SUBJECT_A_LEVEL, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.GPA_FOUR, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.GPA_FOUR, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.GPA_FOUR, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.GPA_BELOW_FOUR, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.GPA_BELOW_FOUR, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.GPA_BELOW_FOUR, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.AVERAGE_MARK, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.AVERAGE_MARK, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.AVERAGE_MARK, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.EVERY_COURSE_MARK, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.EVERY_COURSE_MARK, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.EVERY_COURSE_MARK, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.UNDERGRADUATE_GPA, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.UNDERGRADUATE_GPA, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.UNDERGRADUATE_GPA, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.FACULTY_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.FACULTY_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.FACULTY_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.DEPARTMENT_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.DEPARTMENT_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.DEPARTMENT_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.PROGRAM_ID, htmlAttributes: new { @class = "control-label col-md-2" })
								</td>
								<td>
									@Html.EditorFor(model => model.PROGRAM_ID, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.PROGRAM_ID, "", new { @class = "text-danger" })
								</td>
							</tr>
						</tbody>
					</table>				
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="formValidSend()">Create</button>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
				</div>
			}
		</div>
	</div>
</div>
