@model IUMS.Entities.USER
@{
	Layout = null;
}

<div class="modal" id="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-10">
					<h3>Details - 
<span class="text-info pull-right">(PK) @Model.ID</span>
					</h3>
				</div>
				<div class="col-md-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">DisplayNameFor</th>
							<th scope="col">DisplayFor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ID)</td>
							<td>@Html.DisplayFor(model => model.ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ROLE_ID)</td>
							<td>@Html.DisplayFor(model => model.ROLE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FULL_NAME)</td>
							<td>@Html.DisplayFor(model => model.FULL_NAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.USERNAME)</td>
							<td>@Html.DisplayFor(model => model.USERNAME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PASSWORD)</td>
							<td>@Html.DisplayFor(model => model.PASSWORD)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EMAIL)</td>
							<td>@Html.DisplayFor(model => model.EMAIL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SESSION_ID)</td>
							<td>@Html.DisplayFor(model => model.SESSION_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EMAIL_ALERT)</td>
							<td>@Html.DisplayFor(model => model.EMAIL_ALERT)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BANNED)</td>
							<td>@Html.DisplayFor(model => model.BANNED)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.BAN_REASON)</td>
							<td>@Html.DisplayFor(model => model.BAN_REASON)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NEWPASS)</td>
							<td>@Html.DisplayFor(model => model.NEWPASS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NEWPASS_KEY)</td>
							<td>@Html.DisplayFor(model => model.NEWPASS_KEY)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.NEWPASS_TIME)</td>
							<td>@Html.DisplayFor(model => model.NEWPASS_TIME)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LOGIN_STATUS)</td>
							<td>@Html.DisplayFor(model => model.LOGIN_STATUS)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LAST_IP)</td>
							<td>@Html.DisplayFor(model => model.LAST_IP)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.LAST_LOGIN)</td>
							<td>@Html.DisplayFor(model => model.LAST_LOGIN)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.CREATED)</td>
							<td>@Html.DisplayFor(model => model.CREATED)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MODIFIED_DATE)</td>
							<td>@Html.DisplayFor(model => model.MODIFIED_DATE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.USER_MODULE)</td>
							<td>@Html.DisplayFor(model => model.USER_MODULE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ADMISSION_PREV)</td>
							<td>@Html.DisplayFor(model => model.ADMISSION_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ACADEMIC_PREV)</td>
							<td>@Html.DisplayFor(model => model.ACADEMIC_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EXAM_PREV)</td>
							<td>@Html.DisplayFor(model => model.EXAM_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GUEST_HOUSE_PREV)</td>
							<td>@Html.DisplayFor(model => model.GUEST_HOUSE_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEGREE_ID)</td>
							<td>@Html.DisplayFor(model => model.DEGREE_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HR_PREV)</td>
							<td>@Html.DisplayFor(model => model.HR_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ETENDER_PREV)</td>
							<td>@Html.DisplayFor(model => model.ETENDER_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.INVENTORY_PREV)</td>
							<td>@Html.DisplayFor(model => model.INVENTORY_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HOUSE_ALLOTMENT_PREV)</td>
							<td>@Html.DisplayFor(model => model.HOUSE_ALLOTMENT_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.JOURNAL_PREV)</td>
							<td>@Html.DisplayFor(model => model.JOURNAL_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EVENT_PREV)</td>
							<td>@Html.DisplayFor(model => model.EVENT_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROFILE_PREV)</td>
							<td>@Html.DisplayFor(model => model.PROFILE_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HALL_PREV)</td>
							<td>@Html.DisplayFor(model => model.HALL_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FILE_PREV)</td>
							<td>@Html.DisplayFor(model => model.FILE_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.MOBILE)</td>
							<td>@Html.DisplayFor(model => model.MOBILE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.ACCOUNTS_PREV)</td>
							<td>@Html.DisplayFor(model => model.ACCOUNTS_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.JOB_PREV)</td>
							<td>@Html.DisplayFor(model => model.JOB_PREV)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEGREE_TYPE)</td>
							<td>@Html.DisplayFor(model => model.DEGREE_TYPE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEGREE_TITLE)</td>
							<td>@Html.DisplayFor(model => model.DEGREE_TITLE)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SSC_GPA)</td>
							<td>@Html.DisplayFor(model => model.SSC_GPA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.HSC_GPA)</td>
							<td>@Html.DisplayFor(model => model.HSC_GPA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FREEDOM_FIGHTER)</td>
							<td>@Html.DisplayFor(model => model.FREEDOM_FIGHTER)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SUBJECT_O_LEVEL)</td>
							<td>@Html.DisplayFor(model => model.SUBJECT_O_LEVEL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.SUBJECT_A_LEVEL)</td>
							<td>@Html.DisplayFor(model => model.SUBJECT_A_LEVEL)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GPA_FOUR)</td>
							<td>@Html.DisplayFor(model => model.GPA_FOUR)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.GPA_BELOW_FOUR)</td>
							<td>@Html.DisplayFor(model => model.GPA_BELOW_FOUR)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.AVERAGE_MARK)</td>
							<td>@Html.DisplayFor(model => model.AVERAGE_MARK)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.EVERY_COURSE_MARK)</td>
							<td>@Html.DisplayFor(model => model.EVERY_COURSE_MARK)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.UNDERGRADUATE_GPA)</td>
							<td>@Html.DisplayFor(model => model.UNDERGRADUATE_GPA)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.FACULTY_ID)</td>
							<td>@Html.DisplayFor(model => model.FACULTY_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.DEPARTMENT_ID)</td>
							<td>@Html.DisplayFor(model => model.DEPARTMENT_ID)</td>
						</tr>
						<tr>
							<td>@Html.DisplayNameFor(model => model.PROGRAM_ID)</td>
							<td>@Html.DisplayFor(model => model.PROGRAM_ID)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
