@model IUMS.Entities.MASTER_COURSE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MASTER_COURSE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COURSE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE_CREDIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_CREDIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_LABBASE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_LABBASE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREREQ_COURSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREREQ_COURSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEVEL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEMESTER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACULTY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACULTY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROGRAM_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAM_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_MAJOR_COURSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_MAJOR_COURSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_WAIVER_FOR_DIPLOMA_HOLDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_WAIVER_FOR_DIPLOMA_HOLDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAJOR_AREA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAJOR_AREA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIPLOMA_LEVEL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIPLOMA_LEVEL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIPLOMA_SEMESTER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIPLOMA_SEMESTER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FULL_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULL_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRACTICAL_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRACTICAL_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THEORY_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THEORY_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTERNAL_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTERNAL_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAB_MARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAB_MARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_WORK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_WORK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXAMINER_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXAMINER_QTY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
