@model IPagedList<IUEMS.Models.Reports.TabulationsheetModel>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}
<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>
<link href="../../assets/admin/layout/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="../../assets/admin/layout/scripts/jquery-ui.js"></script>
<div class='row'>
    <div class='col-md-10 text-left'>
        <h3 class='text-info'>Marks Sheet</h3>
    </div>
    @*<div class='col-md-2 text-right'>
            <button class='btn btn-success btn-madd' onclick='btnAddClick($(this))' myUrl='@Create'><i class='fa fa-plus-circle'></i> Add</button>
        </div>*@
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    @*<th scope="col">@Html.LabelFor(model => model.First().PROGRAM_NAME, htmlAttributes: new { @class = "control-label col-md-2" })</th>*@
                    <th scope="col">Academic Year <span class="font-red">*</span></th>
                    <th scope="col">@Html.LabelFor(model => model.First().SEMESTER_NAME, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                    <th scope="col">@Html.LabelFor(model => model.First().YEAR, htmlAttributes: new { @class = "control-label col-md-2" }) <span class="font-red">*</span></th>
                    <th scope="col">@Html.LabelFor(model => model.First().STUDENT_ID, htmlAttributes: new { @class = "control-label col-md-3" })<span class="font-red">*</span></th>
                </tr>
                <tr id="err_message">
                    <th id="err_level" class="font-red">&nbsp;</th>
                    <th>&nbsp;</th>
                    <th id="err_year" class="font-red">&nbsp;</th>
                    <th id="err_roll" class="font-red">&nbsp;</th>
                </tr>
                <tr>
                    @*<td>
                            @Html.DropDownList("PROGRAM_ID", (IEnumerable<SelectListItem>)ViewData["program_list"], "Select Type", new { @class = "form-control" })
                        </td>*@
                    <td>
                        @Html.DropDownList("LEVEL_ID", (IEnumerable<SelectListItem>)ViewData["acyear_list"], "Select Academic Year", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("SEMESTER_ID", (IEnumerable<SelectListItem>)ViewData["semester_list"], "Select Semester", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("YEAR", (IEnumerable<SelectListItem>)ViewData["exam_year"], "Select Exam Year", new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="text" name="STUDENT_ID" id="STUDENT_ID" class="form-control" />
                    </td>
                </tr>

                <tr style="text-align: right;">
                    <td colspan="5"><input type="button" name="btn_src" class="btn btn-info SearchReport" value="Search" /></td>
                </tr>
            </thead>

        </table>
    </div>
</div>

<div class="row" id="div_result" style="display:none;">
    <div class="col-md-12">
        <div class="col-md-2">
            <a href="" id="btn_print" target="_blank" class="btn btn-success">Print <span><i class="fa fa-print"></i></span></a>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-4 pull-left" style="font-size:10px; text-align:center;">
            <table class="short_tbl_key_info" style="border-collapse:collapse;text-align: center;" border="1">
                <thead>
                    <tr>
                        <th>Numerical Grade</th>
                        <th>Letter Grade</th>
                        <th>GP</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody id="grade_list"></tbody>
            </table>
        </div>

        <div class="col-md-4">
            <table style="border-collapse:collapse;text-align: center;" align="center" class="short_tbl_key_info">
                <tr>
                    <td>
                        <img height="50px" src="" />
                        <span style="font-weight:bold;font-size:34px;text-align:center;margin-left:10px;">ISLAMIC UNIVERSITY</span>
                        <br />
                        Kushtia-Jhenidah, Bangladesh
                        <br />
                        <img width="80" alt="" src="../../assets/admin/layout/img/avatar3_small.png">
                    </td>
                </tr>
                <tr><td colspan="4"><span id="faculty_name"></span></td></tr>
                <tr><td colspan="4"><span id="dept_name"></span></td></tr>
                <tr><td colspan="4"><span id="program_name"></span> </td></tr>
                <tr>
                    <td colspan="4">
                        <b>Session: </b><span id="session_year"></span>
                        <span id="semester"></span>
                        <br />
                        <span id="academic_year"></span>-<span id="exam_year"></span>
                        <br />
                        <br />
                        <span style="border: 3px solid black !important;font-weight:bold;width:40%;padding:10px;font-size:20px;">MARKS SHEET</span>
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-md-4 pull-right" style="font-size:10px; text-align:left;">
            <div class="col-md-12 pull-right">
                <div id="first_semester" class="">
                    <center>
                        <b id="semester1_title"></b>
                    </center>

                    <table style="border-collapse:collapse;text-align: left;width:100%;" cellpadding="10" border="1">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Course Name</th>
                            </tr>
                        </thead>
                        <tbody id="semester1_body"></tbody>
                    </table>
                </div>
                <div id="second_semester" class="col-md-6">
                    <center>
                        <b id="semester2_title"></b>
                    </center>
                    <table style="border-collapse:collapse;text-align: center;" cellpadding="10" border="1">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Course Name</th>
                            </tr>
                        </thead>
                        <tbody id="semester2_body"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">

        <table style="border-collapse:collapse;text-align: center;">
            <tbody id="std_info"></tbody>
        </table>
        <br />
        <center>
            <table width="98%" class="" style="border-collapse:collapse;text-align: center;" cellpadding="10" border="1">
                <thead id="report_head"></thead>
                <tbody id="report_body"></tbody>
            </table>
        </center>
        <table style="width:100%; align:center;text-align:center;margin-top:30px;">
            <tr>
                <td colspan="1">
                    Administrative Building
                    <br>
                    Islamic University
                    <br>
                    Kushtia-Jhenidah, Bangladesh
                </td>
                <td colspan="1">
                    Printed By:
                </td>
                <!--<td>
                    Prepared By (Member)<br>
                    Assistant Controller of Examination
                </td>

                <td>
                    Checked & Verified (Member)<br>
                    Dept. Coordinator/Head/Dean
                </td>

                <td>
                    Member Secretary<br>
                    Deputy Controller of Examination
                </td>-->

                <td colspan="2">
                    <!--Chairman<br>-->
                    Deputy Controller of Examinations
                    <br>
                    Islamic University
                    <br>
                    Kushtia-Jhenidah, Bangladesh
                </td>
            </tr>
        </table>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/_global.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/_global.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#err_message").hide();
            var getUrl = window.location;

            $(document).on("change", "#LEVEL_ID", function () {
                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/Marksheet/get_semester";

                var LEVEL_ID = $("#LEVEL_ID").val();
                var fls = { LEVEL_ID: LEVEL_ID }
                $.ajax({
                    type: "POST",
                    url: url,
                    data: fls,
                    beforeSend: function () {
                        // $("#loader_view").show();
                    },
                    success: function (data) {
                        $("#SEMESTER_ID").html('');
                        var th = "<option value=''>--Select Semester--</option>";
                        $.each(data, function (key, val) {
                            th += "<option value='" + val.ID + "'>" + val.SEMESTER_NAME + "</option>";
                        });
                        $("#SEMESTER_ID").append(th);

                    }
                    //data: JSON.stringify(person)
                });
            });

            $(document).on("click", ".SearchReport", function () {
                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/Marksheet/get_result";

                //Get Value
                var STUDENT_ID = $("#STUDENT_ID").val();
                var SEMESTER_ID = $("#SEMESTER_ID").val();
                var YEAR = $("#YEAR").val();
                var LEVEL_ID = $("#LEVEL_ID").val();
                var semester_name = $("#SEMESTER_ID option:selected").text();
                var semester_name1 = "";
                var year_name = $("#LEVEL_ID option:selected").text();
                var data_length = "";

                var print_param = STUDENT_ID + "," + SEMESTER_ID + "," + YEAR + "," + LEVEL_ID;

                var print_url = "/ControllerSection/Marksheet/viewer/?parameter=" + print_param;
                
                if (STUDENT_ID == "") {
                    $("#err_message").show();
                    $("#err_roll").html('Please input student roll');
                }
                else {
                    $("#err_roll").html('');
                }
                if (YEAR == "") {
                    $("#err_message").show();
                    $("#err_year").html('Please input exam year');
                }
                else {
                    $("#err_year").html('');
                }
                if (LEVEL_ID == "") {
                    $("#err_message").show();
                    $("#err_level").html('Please select academic year');
                }
                else {
                    $("#err_level").html('');
                }
                if (STUDENT_ID == "" || YEAR == "" || LEVEL_ID == "") {

                }
                else {
                    //Url for yearly Result Sheet
                    if (SEMESTER_ID == "") {
                        url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/Marksheet/get_yearly_result";
                        data_length = 2;
                    }

                    //Declare Variables
                    var fls = { STUDENT_ID: STUDENT_ID, SEMESTER_ID: SEMESTER_ID, YEAR: YEAR, LEVEL_ID: LEVEL_ID }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: fls,
                        beforeSend: function () {
                            // $("#loader_view").show();
                        },
                        success: function (data) {

                            $("#div_result").show();
                            $("#report_head").html('');
                            $("#report_body").html('');
                            $("#grade_list").html('');
                            $("#semester1_body").html('');
                            $("#exam_year").html(YEAR);
                            $("#academic_year").html(year_name);
                            $("#std_info").html('');

                            $("#btn_print").attr("href", print_url); 


                            var std_dtls = data[0].std_dtls;
                            var grade_dtls = data[0].grade_dtls;

                            var summery = "";
                            var courses = "";
                            var courses1 = "";
                            var summery1 = "";
                            var final_remarks = "";
                            if (data_length == 2) {
                                var semesters = data[0].semester_array;
                                semester_name = semesters[0].SEMESTER_NAME;
                                semester_name1 = semesters[1].SEMESTER_NAME;

                                //First Semester
                                courses = data[1].my_courses;
                                summery = data[1].summery;

                                //Second Semester
                                if (data[2] != null) {

                                    courses1 = data[2].my_courses;
                                    summery1 = data[2].summery;
                                    $("#second_semester").show();
                                    //$("#first_semester").removeClass('col-md-12');
                                    $("#second_semester").addClass('col-md-6');
                                    $("#first_semester").addClass('col-md-6');
                                    $("#semester2_title").html(semester_name1);

                                }
                                else {
                                    $("#second_semester").hide();

                                    $("#first_semester").addClass('col-md-12');
                                }
                                //Course Title
                                debugger;
                                $("#semester1_title").html(semester_name);
                                final_remarks = data[3];
                            }
                            else {
                                courses = data[0].my_courses;
                                summery = data[0].summery;
                                $("#semester1_title").html(semester_name);
                                final_remarks = data[0].remarks;
                                //Course Title
                                $("#second_semester").hide();
                                //("#first_semester").removeClass('col-md-6');
                                $("#first_semester").addClass('col-md-12');
                            }

                            //Header Content Student Details
                            $("#faculty_name").html(std_dtls.FACULTY_NAME);
                            $("#dept_name").html(std_dtls.DEPARTMENT_NAME);
                            $("#program_name").html(std_dtls.PROGRAM_NAME);
                            $("#session_year").html(std_dtls.APPLICANT_SESSION);

                            //Grade Details
                            $.each(grade_dtls, function (key, val) {

                                var min_marks = "";
                                if (key == 0) {
                                    min_marks = val.MINIMUM_MARKS + "% and above ";
                                }
                                else {
                                    min_marks = val.MINIMUM_MARKS + "% less than ";
                                }
                                var max_marks = val.MAXIMUM_MARKS;
                                var numerical_mark = min_marks + max_marks + "%";
                                var lg = val.LETTER_GRADE;
                                var gp = val.GRADE_POINT;
                                var remarks = val.REMARKS;
                                var grade_list = "<tr>" +
                                    "<td>" + numerical_mark + "</td>" +
                                    "<td>" + lg + "</td>" +
                                    "<td>" + gp + "</td>" +
                                    "<td>" + remarks + "</td>" +
                                    "</tr>";
                                $("#grade_list").append(grade_list);
                            });

                            //Course List
                            if (SEMESTER_ID != null) {

                                $.each(courses, function (key, val) {
                                    var cours_ls = "<tr id='course_list'><td>" + val.COURSE_CODE + "</td><td>" + val.COURSE_NAME + "</td></tr>";
                                    $("#semester1_body").append(cours_ls);
                                });
                            }
                            var title_second_sem = "";
                            if (courses1 != null) {
                                $.each(courses1, function (key, val) {
                                    var cours_ls1 = "<tr><td>" + val.COURSE_CODE + "</td><td>" + val.COURSE_NAME + "</td></tr>";
                                    $("#semester2_body").append(cours_ls1);
                                });
                                title_second_sem = "<td colspan='" + courses1.length + "'><b>" + semester_name1 + "</b></td>";
                            }


                            var reg_no = "";
                            if (std_dtls.REG_NO != null) {
                                reg_no = std_dtls.ROLL;
                            }

                            $("#std_info").append("<tr><td style='padding:3px;'><b>Name:</b> " + std_dtls.FULL_NAME + "</td><td style='padding:3px;'><b>Roll No.:</b> " + std_dtls.ROLL + "</td><td style='padding:3px;'><b>Reg. No.:</b> " + reg_no + "</td></tr>");

                            var th = "<tr id='semesters_title'><td colspan='" + Number(courses.length + 1) + "'><b>" + semester_name + "</b></td>" + title_second_sem + "</tr><tr><th style='border-top:none; border-left:none'>&nbsp;</th>";

                            var theory_marks = ["Theory"];
                            var internal_marks = ["Internal"];
                            var total_marks = ["Total Marks"];
                            var letter_grade = ["Letter Grade"];
                            var grade_point = ["Grade Point"];
                            var course_ps = ["PS"];
                            var ItemArray = [];
                            var ec = 0;
                            var ec1 = 0;
                            $.each(courses, function (key, val) {
                                th += "<td><b>" + val.COURSE_CODE + "<br>Credit:" + val.COURSE_CREDIT + "</b></td>";
                                theory_marks.push(val.AVG_MARKS);
                                internal_marks.push(val.INTERNAL_MARKS);
                                total_marks.push(val.AVG_MARKS + val.INTERNAL_MARKS);
                                letter_grade.push(val.LETTER_GRADE);
                                grade_point.push(val.GRADE_POINT);
                                course_ps.push(val.GRADE_POINT * val.CREDIT_EARNED);
                                ec = ec + val.CREDIT_EARNED;
                            });

                            if (courses1 != null) {
                                $.each(courses1, function (key_1, val_1) {
                                    th += "<td><b>" + val_1.COURSE_CODE + "<br>Credit:" + val_1.COURSE_CREDIT + "</b></td>";
                                    theory_marks.push(val_1.AVG_MARKS);
                                    internal_marks.push(val_1.INTERNAL_MARKS);
                                    total_marks.push(val_1.AVG_MARKS + val_1.INTERNAL_MARKS);
                                    letter_grade.push(val_1.LETTER_GRADE);
                                    grade_point.push(val_1.GRADE_POINT);
                                    course_ps.push(val_1.GRADE_POINT * val_1.CREDIT_EARNED);
                                    ec1 = ec1 + val_1.CREDIT_EARNED;
                                });

                            }

                            th + "</tr>";
                            $("#report_thead").append(th);

                            ItemArray.push(theory_marks);
                            ItemArray.push(internal_marks);
                            ItemArray.push(total_marks);
                            ItemArray.push(letter_grade);
                            ItemArray.push(grade_point);
                            ItemArray.push(course_ps);

                            $.each(ItemArray, function (i, val) {

                                th += "<tr>";
                                $.each(ItemArray[i], function (j, val1) {
                                    th += "<td>" + val1 + "</td>";
                                });
                                th += "</tr>";
                            });
                            debugger;
                            var total_ec = Number(ec + ec1);
                            var total_tps = summery.TPS;
                            //
                            if (summery1.TPS > 0) {
                                total_tps = Number(summery.TPS + Number(summery1.TPS));
                            }

                            th += "<tr><td>TPS</td><td colspan='" + Number(courses.length + courses1.length) + "'>" + total_tps + "</td></tr>";
                            th += "<tr><td>EC</td><td colspan='" + Number(courses.length + courses1.length) + "'>" + total_ec + "</td></tr>";
                            th += "<tr><td>GPA</td><td colspan='" + Number(courses.length + courses1.length) + "'>" + (total_tps / total_ec).toFixed(2) + "</td></tr>";
                            th += "<tr><td>Remarks</td><td colspan='" + Number(courses.length + courses1.length) + "'>" + final_remarks + "</td></tr>";
                            $("#report_body").append(th);

                            $.each(result, function (index, value) {
                                debugger;
                                var td = "";
                                td += "<td>" + value.stdid + "</td>";
                                var course_res = value.my_courses;
                                var summery = value.summery;
                                var tps = summery.TPS;
                                var gpa = summery.AVG_POINT;
                                var gpl = value.lg;

                                var total_subject = Number(course_res.length);
                                $.each(course_res, function (index1, value1) {

                                    var avg_mark = parseFloat(value1.AVG_MARKS);
                                    var internal_mark = parseFloat(value1.INTERNAL_MARKS);
                                    var gp = parseFloat(value1.GRADE_POINT);
                                    var credit = parseFloat(value1.CREDIT_EARNED);
                                    var lg = value1.LETTER_GRADE;
                                    var ps = parseFloat(value1.PS);

                                    var final_mark = (avg_mark + internal_mark);

                                    td += "<td>" + avg_mark + "</td>";
                                    td += "<td>" + internal_mark + "</td>";
                                    td += "<td>" + final_mark + "</td>";
                                    td += "<td>" + lg + "</td>";
                                    td += "<td>" + gp + "</td>";
                                    td += "<td>" + ps + "</td>";
                                });

                                td += "<td>" + tps + "</td><td>" + gpa + "</td><td>" + gpl + "</td>";
                                var tr_cr = "<tr>" + td + "</tr>";
                                $("#report_body").append(tr_cr);
                            });
                        }
                        //data: JSON.stringify(person)
                    });
                }

            });


            //Auto Complete
            $(document).on("keyup", "#STUDENT_ID", function () {
                var url = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/Marksheet/get_student";
                $("#STUDENT_ID").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: url,
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                debugger;
                                response($.map(data, function (item) {
                                    return { label: item.STUDENT_ID + "-" + item.FULL_NAME, value: item.STUDENT_ID };
                                }))

                            }
                        })
                    },
                    messages: {
                        noResults: "", results: ""
                    }
                });
            });

        });
    </script>
}

